.ingredients {
  border: 1px dashed transparent;
  margin-left: calc(var(--offset-base-size) * 5);
  margin-top: calc(var(--offset-base-size) * 25);
  width: 50%;
}

.ingredientsMiddle {
  border: 1px dashed transparent;
}

.middle {
  height: 50vh;
  margin-bottom: calc(var(--offset-base-size) * 4);
  overflow-y: scroll;
}

.bottom {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: calc(var(--offset-base-size) * 3);
  margin-top: calc(var(--offset-base-size) * 10);
  padding-bottom: calc(var(--offset-base-size) * 5);
}