.card {
  cursor: pointer;
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  margin-bottom: calc(var(--offset-base-size) * 8);
  position: relative;
  text-align: center;
}

.priceCurrency {
  display: flex;
  justify-content: center;
  padding-bottom: calc(var(--offset-base-size) * 1);
  padding-top: calc(var(--offset-base-size) * 1);
}

.currencyIcon {
  margin-left: calc(var(--offset-base-size) * 2);
  vertical-align: bottom;
}